<div class="user-quizzes-container">
  <h2>My Quizzes</h2>
  <div *ngIf="quizzes.length === 0" class="no-quizzes">
    <p>You haven't created any quizzes yet.</p>
  </div>
  <div *ngFor="let quiz of quizzes" class="quiz-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ quiz.title }}</mat-card-title>
        <mat-card-subtitle [innerHTML]="quiz.descriptionHtml"></mat-card-subtitle> <!-- Render HTML -->
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="quiz.Questions.length > 0">
          <h4>Questions:</h4>
          <ul>
            <li *ngFor="let question of quiz.Questions">
              <p><strong>Q:</strong> {{ question.question }}</p>
              <ul *ngIf="question.answers.length > 0">
                <li *ngFor="let answer of question.answers">
                  <span [class.correct-answer]="answer === question.correctanswer">
                    {{ answer }}
                  </span>
                </li>
              </ul>
              <div *ngIf="isQuestionMultiChoice(question)">
                <span [class.correct-answer]="true"> {{ question.correctanswer }}</span>
              </div>
            </li>
          </ul>
        </div>
        <div *ngIf="quiz.Questions.length === 0">
          <p>No questions added to this quiz.</p>
        </div>
        <!-- Display the maximum errors -->
        <div *ngIf="quiz.maxErrors !== undefined">
          <p><strong>Maximum Errors Allowed:</strong> {{ quiz.maxErrors }}</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn" (click)="confirmDeleteQuiz(+quiz.id)">Delete</button>
        <button mat-raised-button color="accent" (click)="viewAnswers(+quiz.id)">View Answers</button>
        <button mat-raised-button color="primary" (click)="copyLink(quiz.id)">Copy Link</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
