.edit-quiz-container {
    max-width: 800px;
    margin: auto;
    padding: 1rem;
  
    h2 {
      margin-bottom: 1rem;
      text-align: center;
    }
  
    mat-form-field {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .mat-error {
      color: red;
      font-size: 0.75rem;
    }
  
    .answer-item {
      margin: 0.5rem 0;
    }
  
    button {
      margin-right: 0.5rem;
    }
  }
  